<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${titulo}"></title>
</head>
<body style="background-color:#ECF0F1;">
	<div class="container">
		<img src="/img/logo_unscCuartaParte.png" alt="Logo" />
		<h1 >CARGA ACADÉMICA</h1>
	</div>
	<div class="container ">

		<table class="table table-striped table-bordered table-hover" style="background-color:#FEF9E7;" >
			<thead >
				<tr>
					<th>Nombre Docente</th>
					<th>Nombre Semestre</th>
					<th>Numero Horas</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="docente: ${docentes}">
					<td th:text="${docente.docente.nombreDocente}+ ' '+${docente.docente.apellidoDocente}"></td>
					<td th:text="${docente.semestreAcademico}"></td>
					<td th:text="${docente.cargaAcademica}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
				</tr>
			</tfoot>
		</table>
	</div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.facebook.com/profile.php?id=100011608605084"> Reynaldo Quispe</a>
  </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">
  </script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous">
  </script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous">
  </script>
</body>

</html>